<form method="post" id="adManagementModalForm" class="form-access">
    <h2>Extend Your Ad</h2>
    <div class="form-group">
        <p class="help-block" id="loginError">Pay 55$ and extend your ad by 5 days -- to November 21, 2017<p>
    </div>
    <div class="">
        <input id="adManagementModalPay" type="submit" value="Pay">
        <input id="adManagementModalCancel" type='reset' value='Cancel'>
    </div>
</form>                
