{% extends "master.html.twig" %}

{% block title %}Seller Dashboard{% endblock %}
{% block headextra %}

{% endblock %}
{% block content %}



    <p><a href="/ad/add">Create an ad</a></p>
    <h1>Your Ads</h1>
        <table>
            <thead>
                <tr>
                    <th>Ad Title</th>
                    <th>Ad Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for a in adsList %}
                    <tr>
                        <td>{{a.title}}</td>
                        <td>{{a.status}}</td>
                        <td>
                            {% if a.status == 'created' %}<button class='btn btn-primary btn-sm'>Pay &amp; Activate</button>{% endif %}
                            {% if a.status == 'active' %}<button class='btn btn-primary btn-sm'>Pay &amp; Extend</button>{% endif %}
                            {% if a.status == 'expired' %}<button class='btn btn-primary btn-sm'>Pay &amp; Renew</button>{% endif %}
                            {% if a.status == 'active' %}
                                {% if a.isToBeDisplayed == 0 %}<button class='btn btn-primary btn-sm'>Display</button>{% else %}<button class='btn btn-sm'>Hide</button>{% endif %}
                            {% endif %}
                            <button class='btn btn-sm btn-danger'><span class="fa fa-trash" aria-hidden="true" /> Delete</button>
                        </td>
                    </tr>
                {% else %}
                    <tr colspan="3"><td>You don't have any ads yet. <a href='/ad/add'>Create one now</a></td></tr>
                {% endfor %}
            </tbody>
        </table>


{% endblock %}{# empty Twig template #}
