{% extends "master.html.twig" %}

{% block title %}Index{% endblock %}
{% block headextra %}

{% endblock %}
{% block content %}


    <a href="/ad/add">Create an ad</a>
    <div id="categoryList">
<h1>Ads posted</hi>
    </div>
    <div id="adsList">
        {% for a in adsList %}
            <div class="adContainer">
                <div class="imageContainer">
                    <img src="{{a.imagePath}}" width="100">
                </div>
                <div class="title">
                    <p>{{a.title}}</p>
                </div>
                <div class="price">
                    <p>{{a.price}}</p>      
                </div>

            </div>                   
        {% endfor %}

    </div>
{% endblock %}{# empty Twig template #}
