{% extends "master.html.twig" %}

{% block title %}Seller Dashboard{% endblock %}
{% block headextra %}

{% endblock %}
{% block content %}
    <div id="adManagementModal"> 
        <form method="post" id="adManagementModalForm" class="form-access">
            <h2 id="modalHeading">Extend Your Ad</h2>
            <div class="form-group">
                <p class="help-block" id="modalMessage">Pay 5$ and extend your ad by 5 days -- to November 21, 2017<p>
            </div>
            <div class="">
                <input id="adManagementModalSubmit" type="submit" value="Pay">
                <input id="adManagementModalCancel" type='reset' value='Cancel'>
            </div>
        </form>                
    </div>



    <p><a href="/ad/add">Create an ad</a></p>
    <h1>Your Ads</h1>
    <table>
        <thead>
            <tr>
                <th>Ad Title</th>
                <th>Ad Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for a in adsList %}
                <tr>
                    <td>{{a.title}}</td>
                    <td>{{a.status}}</td>
                    <td>
                        {% if a.status == 'created' %}<button class='btn btn-primary btn-sm modalaction' data-message="Extend" data-action-url="/action/testpaypal" data-heading="Activate Ad" data-action-label="Pay to extend">Activate</button>{% endif %}
                        {% if a.status == 'active' %}<button class='btn btn-primary btn-sm modalaction'>Extend</button>{% endif %}
                        {% if a.status == 'expired' %}<button class='btn btn-primary btn-sm modalaction'>Re-Activate</button>{% endif %}
                        {% if a.status == 'active' %}
                            {% if a.isToBeDisplayed == 0 %}<button class='btn btn-primary btn-sm'>Display</button>{% else %}<button class='btn btn-sm'>Hide</button>{% endif %}
                        {% endif %}
                        <button class='btn btn-sm btn-danger'><span class="fa fa-trash" aria-hidden="true" /> Delete</button>
                    </td>
                </tr>
            {% else %}
                <tr colspan="3"><td>You don't have any ads yet. <a href='/ad/add'>Create one now</a></td></tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}

{% block bodyendextra %}
        <script>
            $(document).ready(function () {

                // bind event handlers
                $("#adManagementModalCancel").click(function () {
                    $("#adManagementModal").removeClass("modal-show");
                });
                
                // Modal action: a button is generating an action
                $(".modalaction").click(function (ev) {
                    // Get data from target button using data attributes
                    var $actionButton = ev.target;
                    var message = $actionButton.getAttribute('data-message');
                    var heading = $actionButton.getAttribute('data-heading');
                    var actionUrl = $actionButton.getAttribute('data-action-url');
                    var actionLabel = $actionButton.getAttribute('data-action-label');
                    $("#modalHeading").text(heading);
                    $("#modalMessage").text(message);
                    $("#adManagementModalForm").attr('action', actionUrl);
                    $("#adManagementModalSubmit").val(actionLabel);
                    $("#adManagementModal").addClass("modal-show");
                });
            });

        </script>

{% endblock %}
