{% extends "master.html.twig" %}

{% block title %}Index{% endblock %}
{% block headextra %}

{% endblock %}
{% block content %}



    <p><a href="/ad/add">Create an ad</a></p>
    <h1>Your Ads</h1>
        <table>
            <thead>
                <tr>
                    <th>Ad Title</th>
                    <th>Ad Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for a in adsList %}
                    <tr>
                        <td>{{a.title}}</td>
                        <td>{{a.status}}</td>
                        <td>Renew Delete</td>
                    </tr>
                {% else %}
                    <tr colspan="3"><td>You don't have any ads yet. <a href='/ad/add'>Create one now</a></td></tr>
                {% endfor %}
            </tbody>
        </table>


{% endblock %}{# empty Twig template #}
