{# empty Twig template #}
{% extends "master.html.twig" %}
{% block title %}Login with FB account{% endblock %}

{% block content %}
    <form method="POST">
          <label for="tbEmail" class="control-label">Name</label>
    <input type="text" class="form-control"  name="name" readonly="readonly" value="{{fbUser.name}}">
     <label for="tbEmail" class="control-label">Email</label>

    <input type="text" class="form-control"  name="email" readonly="readonly" value="{{fbUser.email}}" >



    <input type="submit" value="Confirm" />
</form>
  <button><a href="/login">Cancel</button>
{% endblock %} 