{# empty Twig template #}
{% extends "master.html.twig" %}
{% block title %}Resister success{% endblock %}
{% block content %}
<p>You've been registered. You may now <a href='../login'>log in</a></p>
{% endblock %}
