/garagesale/vendor/
/nbproject/private/
/sidetestsandpocs/nbproject/private/
/bootstrapstarter/nbproject/private/
/temporarysideprojects/nbproject/private/
/temporarysideprojects/vendor/paypal/rest-api-sdk-php/nbproject/private/