{# empty Twig template #}
{% extends "master.html.twig" %}

{% block title %}Ads list{% endblock %}

{% block headextra %}
    <script>
        var currentPage = {{currentPage}};
                function loadPage(page) {
                    $('#btPage' + currentPage).removeClass("currentPageButton");
                    currentPage = page;
                    $('#btPage' + currentPage).addClass("currentPageButton");
                    $('#itemsView').load("/ajax/ads/" + page);
                    window.history.pushState("", "Ads list", "/ads/" + page);
                }
    </script>
{% endblock %}
{% block content %}  
{% include 'panelCategoryList.html.twig' %}
<table id="itemsView" border="1">
    <div id="adsList">
        {% for a in adList %}
            <div class="adContainer">
                <div class="imageContainer">
                    <img src="{{a.imagePath}}" width="100">
                </div>
                <div class="title">
                    <p>{{a.title}}</p>
                </div>
                <div class="price">
                    <p>{{a.price}}</p>      
                </div>

            </div>   
             
        {% endfor %}


        {% endblock %}