{# empty Twig template #}
{% extends "master.html.twig" %}

{% block title %}Ads list{% endblock %}


{% block content %}  
{% include 'panelCategoryList.html.twig' %}

    <div id="adsList">
        {% for a in adList %}
            <div class="adContainer">
                <div class="imageContainer">
                  <a href="/ad/{{a.id}}">  <img src="{{a.imagePath}}" width="100"></a>
                </div>
                <div class="title">
                    <p>{{a.title}}</p>
                </div>
                <div class="price">
                    <p>{{a.price}}</p>      
                </div>

            </div>   
             
        {% endfor %}


        {% endblock %}