{# empty Twig template #}
<div >
 
        {% for a in adList %}
            <div class="adContainer">
                <div class="imageContainer">
                    <img src="{{a.imagePath}}" width="100">
                </div>
                <div class="title">
                    <p>{{a.title}}</p>
                </div>
                <div class="price">
                    <p>{{a.price}}</p>      
                </div>

            </div>                   
        {% endfor %}

    </div>