{% extends "master.html.twig" %}

{% block title %}Index{% endblock %}

{% block content %}
{% if userSession %}
<p>Hello, {{userSession.name}}!! /<a href="/logout">Log out</a></p> 
{% else %}
   <p> Hello, guest. please <a href="/login">log in</a> or <a href="/register">register</a><p>
{% endif %}
{% endblock %}