
{% extends "master.html.twig" %}
{% block title %}Log in{% endblock %}


{% block content %}

    <form method="post" id="loginForm">
        <div class="imgcontainer">
            <img src="images/login.png" class="avatar">
        </div>

        <div class="container">
            {% if error %}
                <p id="loginError">Enter valid email and password<p><br>
            {% endif %}

                    <label><b>E-mail</b></label>
                    <input type="text" placeholder="Enter email" name="email" required>

                    <label><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="pass" required>

                    <button type="submit">Login</button>
                    

                    </div>

                    <div class="container" style="background-color:#f1f1f1">
                        <button type="button" class="cancelbtn">Cancel</button>
                        <span class="registerNow">No account?<a href="/register">Register!!</a></span>
                    </div>
                    </form>

                {% endblock %} 
