<html>
    <head>
        <link href="/styles.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <meta charset="UTF-8">
        <title>{% block title %}Default{% endblock %}</title>
    {% block headextra %}{% endblock %}


</head>
<body>
    <div id="header">
        {% block loginstatus %}
            {% if userSession %}
                <p class='login-status'>Hello, {{userSession.name}}!! /<a href="/logout">Log out</a></p> 
            {% else %}
                <p class='login-status'> Hello, guest. please <a href="/login">log in</a> or <a href="/register">register</a><p>
                {% endif %}
        {% endblock %}
    </div>


    <div id="centeredContent">
    {% block content %}{% endblock %}
</div>
<div id="footer">
    footer
</div>
</body>
</html>