{# empty Twig template #}
<html>
    <body>
        <h1>New message</h1>
        <p>Hi {{ name }},</p><br>
        <p>You have a message from {{sender}}.</p>
        <p>Click on <a href="{{url}}">this link</a> to read message
                or paste the following URL into a web browser.</p>
        <p>{{ url }}</p>
    </body>
</html>