{# empty Twig template #}
{% extends "master.html.twig" %}
{% block title %}Resister success{% endblock %}
{% block content %}
<p>The message has been sent successfully.<a href="/"> click to continue</a></p>
{% endblock %}
