{# Warning: This is for an email, Not an HTML page!! #}
<html>
    <body>
        <h1></h1>
        <p>Hi, {{ name }},</p>
        <p>You have requested password reset.</p>
        <p>Click on <a href='{{ url }}'>this link </a>to reset your password 
                or paste the following URL into a web browse.</p>
        <p>{{ url }}</p>
    </body>
</html>