{% extends "master.html.twig" %}
{% block title %}Forgotten password{% endblock %}


{% block content %}
    <p>Enter Email</p>
    
    {% if error %}
        {% endif %}
        
        <form method="post">
            Email:<input type="email" name="email">
            <input type="submit" value="Request reset password">
            </form>
{% endblock %}