{% extends "master.html.twig" %}
{% block title %}Token expired{% endblock %}


{% block content %}
    <p>Password Reset Token invalid, not found or expired.</p><a href='/'>Click to continue</a>
    

{% endblock %}{# empty Twig template #}
