{% extends "master.html.twig" %}
{% block title %}Forgotten password{% endblock %}


{% block content %}
    <p>Email with password reset code was sent . Please allow a few minutes for it to arrive.If
    you can't find it....</p><a href='/'>Click to continue</a>
    

{% endblock %}{# empty Twig template #}
